::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  ::-webkit-scrollbar:vertical {
    width: 12px;
  }

  ::-webkit-scrollbar:horizontal {
    height: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
  }

  html {
    width: 100%;
    overflow-x: hidden;
  }

  body {
    padding-top: 30px;
    width: 100%;
  }

  .desktop-nav-nav {
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;
  }

  .aerp_logo {
    width: 100%;
    background: orange;
  }

  .below-nav {
    background-color: black;
    color: white;
  }

  .desktop_donate,
  .mobile_donate {
    padding: 10px 20px;
    background: orange;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    color: #000;
    margin-right: 20px;
  }

  .mobile_donate {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .desktop_donate:hover {
    text-decoration: none;
    color: #fff;
  }

  .aerp_logo._desktop,
  .desktop_donate {
    display: none;
  }

  .mobile_donate {
    display: none;
  }

  @media (min-width:990px) {}

  @media (max-width:991px) {
    .aerp-nav {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .aerp_logo._desktop,
    .desktop_donate {
      display: none;
    }

    .desktop-nav-nav {
      align-items: center;
    }

    .aerp_logo {
      max-width: unset;
    }

    body {
      padding-top: 42px;
    }

    .dropdown-menu {
      display: block;
      text-align: center;
      padding: 0px;
    }

    a.dropdown-item {
      color: grey;
    }

  }

  p {
    font-family: Nunito
  }
  .timeline-iframe{
    padding: 0px;
}
.timeline-iframe iframe{
    border: none;
    background-color: #000000;
    padding-bottom: 0%;
    padding-top: 0%;
}
#tl-tch > div > div.tl-text-headline-container > h2{
    text-align: left;
}
a.navbar-brand.aerp_logo._mobile {padding:50px 0 0 0;}

  .footer {
    position: relative !important;
  }

  /* ADVANCED SEARCH CSS */
  ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}
.list--list-item a, .list--list-item p{
color: black;
font-size: 16px;


}

.hidden-txt{display:none;}

#orgs{
padding: 70px 50px 30px 50px;
}

.no-result {
display:none;
text-align:center;
}

.form-group .btn-danger:not(:disabled):not(.disabled).active:focus, .form-group .btn-danger:not(:disabled):not(.disabled):active:focus, .show>.btn-danger.dropdown-toggle:focus{
box-shadow:none;
}

.filter-group{
align-items: center;
margin: 0px!important;
justify-content: center;
}

.filter-group ul{padding:0px; text-align: center;}
.filter-group ul li{
list-style:none;
margin: 0px;
position: relative;
}
.filter-group ul li button{
width:100%;
margin-bottom:20px;
}
.list li{
list-style:none;
margin: 2em 0;
position: relative;
}

.form-group .btn-danger:not(:disabled):not(.disabled).active, .form-group .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle{
color: black;
background: orange;
}

.filter-group ul li{
display:inline-block;
margin: 0 10px;
}

.form-group {
margin-bottom: 0px;
}

.list{
margin-top: 40px;
padding: 0px 20px;
}

.triangle {
font-size:50%;
position:absolute;
right:10px;
top:-2px;
bottom:0;
margin-top:auto;
margin-bottom:auto;
height:5px;
color:#fff;
}
.filter-group .dropdown.opened {
visibility:visible;
transition:all .3s ease;
transform:scaleY(1);
color:#333;
display: block;
}
.filter-group .dropdown{
visibility:hidden;
color:#fff;
transform-origin:top;
padding:0;
list-style:none;
transform:scaleY(0);
box-shadow:0px 2px 6px 0 rgba(0,0,0,0.2);
position:absolute;
left:0;
margin-top:2px;
min-width:90%;
transition:all .3s ease;
z-index: 900;
top: 36px;
max-height: 300px;
overflow: scroll;
background: #fff;
}
.filter-group .dropdown li {
background:#fff;
padding:8px 10px 0px 15px;
box-sizing:border-box;
cursor:pointer;
transition:background .2s ease;
position:relative;
}
.filter-group .dropdown li.check {
background:#f6f6f6;
}
.filter-group .dropdown li.check:after {
content:'';
position:absolute;
height:15px;
width:3px;
background:#ccc;
top:0;
bottom:0;
margin-top:auto;
transform:rotate(40deg);
margin-bottom:auto;
right:15px;
}
.filter-group .dropdown li.check:before {
content:'';
position:absolute;
height:3px;
width:9px;
background:#ccc;
top:6px;
bottom:0;
margin-top:auto;
transform:rotate(40deg);
margin-bottom:auto;
right:19px;
}
.filter-group .dropdown li:hover {

}

.org-nav{
font-size: 1.2rem;
font-size: 1.2rem;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}

.org-nav .pagination {
display: inline-block;
padding-left: 0;
margin: 20px 0;
border-radius: 4px;
}
.org-nav .pagination li {
display: inline-block;
line-height: 1rem;
min-width: 2rem;
cursor: pointer;
}
.org-nav .pagination li a{
border-radius: 50%;
color: #333333;
text-decoration: none;
}

.org-nav .btn-first, .org-nav .btn-prev, .org-nav .btn-next, .org-nav .btn-last{
display: inline-block;
line-height: 1rem;
min-width: 2rem;
cursor: pointer;
padding-top: 0px;
}

.org-nav li.active{
background: #aa0000;
border-radius: 50%;
color: #ffffff;
font-size: 1.2rem;
line-height: 2rem;
width: 2rem;
}

.org-nav li.active a{
color: #fff;
}

.org-nav li.active:hover a{
color: #fff;
text-decoration: none;
}

.org-nav li:hover a{
color: #aa0000;
text-decoration: underline;
}

.org-nav .btn-first:hover, .org-nav .btn-prev:hover, .org-nav .btn-next:hover, .org-nav .btn-last:hover{
color: #aa0000;
text-decoration: underline;
}


.org-nav .btn-first.disabled, .org-nav .btn-prev.disabled, .org-nav .btn-next.disabled, .org-nav .btn-last.disabled, .org-nav li.disabled{
display:none;
}

#orgs .search-field{
height: 47px;
font-size: 1.6rem;
width: 100%;
margin-bottom: 20px;
}

#orgs .search-field input{
padding: 20px;
border-radius: 20px;
}

.open-dropdown{
position: relative;
display: flex;
align-items: center;
color: #fff;
font-weight: 400;
padding: 5px 50px;
background-color: black;
background-image: none;
cursor: pointer;
border:none;
}

.filter-group .btn{
position: relative;
display: flex;
align-items: center;
color: black;
font-weight: 400;
padding: 5px 50px;
background-color: orange;
background-image: none;
border:none;
border-radius:0px;
}

.colored{
color: orange;
}

.open-dropdown:hover, .open-dropdown.active{
background: orange;
color: #000;
}

.dropdown-list li{
display: block!important;
}

.dropdown-list li input{
position: absolute;
height: 100%;
width: 100%;
left: 0;
z-index: -1;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
margin: 0;
opacity: 0;
}

.dropdown-list label{
padding: 5px 0px 0px 0px;
cursor: pointer;
margin-bottom:0.2rem;
}

.dropdown-list li:hover label, .dropdown-list .selected label{
color: orange;
}

button:focus, .filter-group .btn:focus{outline:none;box-shadow: none;}

@media (max-width: 1024px){
.list li{
flex: 0 0 33%;
max-width: 33%;
}
}
@media (max-width: 767px){
.list li{
flex: 0 0 50%;
max-width: 50%;
}
}
@media (max-width: 540px){
.list li{
flex: 0 0 100%;
max-width: 100%;
}
}
/*Timeline CSS*/
div {padding-top: 0 !important;}
.timeline-iframe {margin-bottom: 3em;}

/*Timeline filter dropdown*/
li.timejump{
    line-height: 2rem;
}
li.timejump > label {
   font-size: 1rem !important;
    line-height: 1.5rem;
    
}
li.timejump:hover {
    color: orange;
}